
* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    
}

/* === Header Styles ===*/

.main-header {
    text-align: center;
}

.name {
    margin: 30px 0;
    color: #ffb6c1;
    text-shadow: 2px 2px 1px #808080;
    font-family: 'Parisienne', cursive;
    font-size: 2.5em;
}

.intro {
    margin: 20px 10px;
    color: #808080;
}

.profile-image {
    width: 200px;
    margin: 20px 0 5px 0;
}

/* === Navigation ===*/

.main-nav li,
.footer-nav li {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}  

.main-nav {
    padding-left: 0;
}
    
.main-nav li {
    background-color: white;
    margin: 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.875em;
}

.main-nav a,
.footer-nav a {
    text-decoration: none;
    color: #000;
    display: block;
}

.main-nav a:hover,
.footer-nav a:hover {
    color: #ff1493;
} 

/* === Main Styles ===*/
h3 {
    font-weight: normal;
  }

.portfolio-title,
.secondary p,
.contact-info {
    font-size: 0.875em;
}

.portfolio-image {
    width: 280px;
    margin-top: 30px;
}

.portfolio-title {
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    width: 80%;
    margin: 20px auto;
}

.primary {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

.secondary {
    padding-bottom: 40px;
}
.primary,
.secondary {
    text-align: center;
}

.secondary p {
    color: #808080;
}

.contact-info {
    padding: 30px 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875em;
}

.more-info {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

/* === Footer Styles === */

footer {
    border-top: 1px solid #808080;
    width: 90%;
    margin: 0 auto;
}

.footer-name {
    font-weight: bold;
    float: left;
    margin-top: 0;
    font-size: 0.75em;
    color: #f08080;
    font-family: 'Parisienne', cursive;
}

footer li:first-child {
    float: right;
    font-size: 0.75em;
}

footer li:nth-child(2),
footer li:nth-child(3),
footer li:nth-child(4) {
    display: none;
}

/* === Float Clearfix === */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ===============
  Media Queries 
=============== */

@media (min-width: 768px) {

    .main-nav li{
        display: inline-block;
        background: none;
    }

    .profile-image {
        float: right;
        width: 300px;
        margin: 20px 20px 20px 5px;
    }

    .intro {
        width: 53%;
        font-size: 1.25em;
        float: left;
        text-align: left;
        margin: 20px 5px 20px 20px;
        line-height: 1.25;
    }

    article {
        width: 50%;
    }

    .left {
        float: left;
        padding-bottom: 20px;
    }

    .right {
        float: right;
        padding-bottom: 20px;
    }

    .portfolio-image {
        width: 350px;
    }

    .content {
        font-size: 1em;
        line-height: 1.5;
    }

    .secondary p {
        font-size: 1.25em;
        width: 70%;
        margin: 10px auto;
        padding: 5px;
    }
    
    .more-info {
        line-height: 1.5;
    }

    .footer-name,
    footer li {
        font-size: 0.875em;
    }

    .footer-nav {
        float: right;
        padding: 0;
    }

    .footer-name {
        margin: 16px auto;
        padding: 10px;
    }

    footer li:first-child {
        display: none;
    }

    footer li:nth-child(2),
    footer li:nth-child(3),
    footer li:nth-child(4) {
        display: inline-block;
        padding: 10px;
    }

}

@media (min-width: 1024px) {

    .name {
        float: left;
    }

    .main-nav {
        float: right;
        margin-top: 30px;
    }
    
    .main-header {
        width: 90%;
        margin: 30px auto;
    }

    .intro {
        margin-left: 0;
        font-size: 1.43em;
    }

    .profile-image {
        width: 400px;
        margin-right: 0;
    }

    .portfolio-title {
        font-size: 1em;
    }

    .primary {
        width: 95%;
        margin: auto;
    }

    .top-article,
    .bottom-article {
        float: left;
        margin: 16px;
        width: 30%;
        padding: 10px;
    }

    .content,
    h3,
    .portfolio-image {
        width: 100%;
    }
    
    .secondary p {
        width: 55%;
    }

    .footer-name {
        font-size: 1em;
    }
    


}