
* {
    box-sizing: border-box;
}

/* Type selectors */

body {
    background-color: aliceblue;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {}


main {
    background-color: white;
    margin: 10px 25px;
    padding: 15px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

article {
    max-width: 30%;
}

p {
    text-align: center;
}

.name,
.main-nav,
.main-nav li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    color: #000000;
}


/* Class Selectors */

.main-nav,
.footer-nav {
    width: 100%;
    padding: 15px; 
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio-image {
    width: 100%;
    height: 20%;
}

.profile-image {
    margin: 0 50px 50px 0;
    width: 35%;
}

.intro {
    text-align: left;
    font-size: 1.5625em; /* 25px/16px */
    max-width: 50%;
    font-weight: 200;
    color: gray;
    margin-left: 50px;
}

/* Pseudo-class-----*/



/* Floated Columns-----*/

.intro {
    float: left;
}

.profile-image {
    float: right;
}

/* Float Clearfix-----*/

.group::after {
    content: "";
    display: table;
    clear: both;
}