
* {
    box-sizing: border-box;
}

/* Type selectors */

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    font-size: 1.875em;
    max-width: 700px;
    font-weight: lighter;
}

main {
    background-color: white;
    margin: 10px 12px;
    padding: 15px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

article {
    max-width: 30%;
}

p {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
}


/* Class Selectors */

.main-nav,
.footer-nav {
    width: 100%;
    padding: 15px; 
    text-transform: uppercase;
}

.portfolio-image {
    width: 100%;
    height: 20%;
}

/* Pseudo-class-----*/

a:link {
    text-decoration: none;
}